{% extends 'base.html.twig' %}

{% block title %}Domains{% endblock %}

{% block body %}
    <a class="ui primary button" href="/">Clicks</a>
    <a class="ui primary button" href="/domain/add">Add domain</a>

    <div class="ui divider"></div>

    <table class="ui table">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for domain in domains %}
            <tr>
                <td>{{ domain.getName() }}</td>
                <td class="collapsing">
                    <form action="/domain/{{ domain.getId() }}/delete" method="post">
                        <button class="ui icon negative button">
                            <i class="remove icon"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">
                    <div class="ui message">
                        Nothing found
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
