{% extends 'base.html.twig' %}

{% block title %}Click error!{% endblock %}

{% block body %}
    <div class="ui error message">
        <div class="header">Click error</div>
        <p>There is error with click ({{ click.getId() }})</p>

        {% if click.getBadDomain() %}
            <p>It also assigned to bad domain ({{ click.getBadDomain() }})</p>

            <script type="text/javascript">
                setTimeout(function () {
                    window.location.href = 'https://google.com';
                }, 5000);
            </script>
        {% endif %}
    </div>
{% endblock %}
